<a href="https://colab.research.google.com/github/kanna1212/anna/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as 
import pandas as pd

import xgboost
from xgboost import XGBRegressor
from xgboost import plot_importance 

from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPRegressor
from sklearn import preprocessing, linear_model,svm,ensemble, tree
from sklearn.metrics import mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

In [ ]:
path='/content/drive/My Drive/finalsub/'
df = pd.read_csv(path + 'application_train.csv')
df_test = pd.read_csv(path + 'application_test.csv')
df1 = pd.read_csv(path + 'installments_payments.csv')
df

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

In [ ]:
df3 = pd.read_csv(path + 'out.csv')

In [ ]:
df3

            Payment     Credit  Period  TARGET
0         41195.925   568800.0     7.0     NaN
1        219625.695   406597.5    19.0     1.0
2       1618864.650  1293502.5    25.0     0.0
3         21288.465   135000.0     3.0     0.0
4         56161.845   222768.0     9.0     NaN
...             ...        ...     ...     ...
356250    52450.470   254700.0     7.0     0.0
356251    60419.205   269550.0     6.0     0.0
356252    57622.815   677664.0    14.0     0.0
356253   194556.825   370107.0    19.0     1.0
356254  3525819.975   675000.0    74.0     0.0

[356255 rows x 4 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path='/content/drive/My Drive/finalsub/'
df = pd.read_csv(path + 'application_train.csv')
df_test = pd.read_csv(path + 'application_test.csv')
df

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

In [ ]:
df = pd.read_csv(path + 'application_train.csv')

In [ ]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)
df.isnull().sum()

SK_ID_CURR                           0
TARGET                               0
NAME_CONTRACT_TYPE                   0
CODE_GENDER                          0
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
CNT_CHILDREN                         0
AMT_INCOME_TOTAL                     0
AMT_CREDIT                           0
AMT_ANNUITY                         12
AMT_GOODS_PRICE                    278
NAME_TYPE_SUITE                   1292
NAME_INCOME_TYPE                     0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_REGISTRATION                    0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                     202929
FLAG_MOBIL                           0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
OCCUPATION_TYPE                  96391
CNT_FAM_MEMBERS                      2
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
ORGANIZATION_TYPE                    0
EXT_SOURCE_1                    173378
EXT_SOURCE_2                       660
EXT_SOURCE_3                     60965
APARTMENTS_AVG                  156061
BASEMENTAREA_AVG                179943
YEARS_BEGINEXPLUATATION_AVG     150007
YEARS_BUILD_AVG                 204488
COMMONAREA_AVG                  214865
ELEVATORS_AVG                   163891
ENTRANCES_AVG                   154828
FLOORSMAX_AVG                   153020
FLOORSMIN_AVG                   208642
LANDAREA_AVG                    182590
LIVINGAPARTMENTS_AVG            210199
LIVINGAREA_AVG                  154350
NONLIVINGAPARTMENTS_AVG         213514
NONLIVINGAREA_AVG               169682
APARTMENTS_MODE                 156061
BASEMENTAREA_MODE               179943
YEARS_BEGINEXPLUATATION_MODE    150007
YEARS_BUILD_MODE                204488
COMMONAREA_MODE                 214865
ELEVATORS_MODE                  163891
ENTRANCES_MODE                  154828
FLOORSMAX_MODE                  153020
FLOORSMIN_MODE                  208642
LANDAREA_MODE                   182590
LIVINGAPARTMENTS_MODE           210199
LIVINGAREA_MODE                 154350
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAREA_MODE              169682
APARTMENTS_MEDI                 156061
BASEMENTAREA_MEDI               179943
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BUILD_MEDI                204488
COMMONAREA_MEDI                 214865
ELEVATORS_MEDI                  163891
ENTRANCES_MEDI                  154828
FLOORSMAX_MEDI                  153020
FLOORSMIN_MEDI                  208642
LANDAREA_MEDI                   182590
LIVINGAPARTMENTS_MEDI           210199
LIVINGAREA_MEDI                 154350
NONLIVINGAPARTMENTS_MEDI        213514
NONLIVINGAREA_MEDI              169682
FONDKAPREMONT_MODE              210295
HOUSETYPE_MODE                  154297
TOTALAREA_MODE                  148431
WALLSMATERIAL_MODE              156341
EMERGENCYSTATE_MODE             145755
OBS_30_CNT_SOCIAL_CIRCLE          1021
DEF_30_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
DEF_60_CNT_SOCIAL_CIRCLE          1021
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
dtype: int64

In [ ]:
X = df[['NAME_CONTRACT_TYPE','AMT_INCOME_TOTAL','NAME_FAMILY_STATUS','NAME_EDUCATION_TYPE']]
y = df[['TARGET']]



type_ohe1 = pd.get_dummies(X['NAME_FAMILY_STATUS'])
type_ohe2 = pd.get_dummies(X['NAME_EDUCATION_TYPE'])

X = pd.concat([X, type_ohe1], axis=1)
X.drop('NAME_FAMILY_STATUS', axis=1, inplace=True)

X = pd.concat([X, type_ohe2], axis=1)
X.drop('NAME_EDUCATION_TYPE', axis=1, inplace=True)

X.replace({'NAME_CONTRACT_TYPE': {'Cash loans': 0, 'Revolving loans': 1}}, inplace=True)



from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
X.head(5)

,NAME_CONTRACT_TYPE,AMT_INCOME_TOTAL,Civil marriage,Married,Separated,Single / not married,Unknown,Widow,Academic degree,Higher education,Incomplete higher,Lower secondary,Secondary / secondary special
0,0,202500.0,0,0,0,1,0,0,0,0,0,0,1
1,0,270000.0,0,1,0,0,0,0,0,1,0,0,0
2,1,67500.0,0,0,0,1,0,0,0,0,0,0,1
3,0,135000.0,1,0,0,0,0,0,0,0,0,0,1
4,0,121500.0,0,0,0,1,0,0,0,0,0,0,1

In [ ]:
X.dtypes

NAME_CONTRACT_TYPE                 int64
AMT_INCOME_TOTAL                 float64
Civil marriage                     uint8
Married                            uint8
Separated                          uint8
Single / not married               uint8
Unknown                            uint8
Widow                              uint8
Academic degree                    uint8
Higher education                   uint8
Incomplete higher                  uint8
Lower secondary                    uint8
Secondary / secondary special      uint8
dtype: object

In [ ]:
lr = LogisticRegression(random_state=42)
lr.fit(X, y)

print('Logistic Regression \n')
print('Train Score: {}'.format(round(lr.score(X, y), 3)))

Logistic Regression

Train Score: 0.919

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)
clf = LogisticRegression()
clf.fit(X_train, y_train)
y_train_pred = clf.predict(X_train)
y_test_pred = clf.predict(X_test)

from sklearn.metrics import accuracy_score
train_score = accuracy_score(y_train, y_train_pred)
test_score = accuracy_score(y_test, y_test_pred)

In [ ]:
train_score,test_score

(0.9192912425612175, 0.9191909337755881)

In [ ]:
# インポート
from sklearn.metrics import confusion_matrix

# テストデータを使って予測値を算出
y_pred = clf.predict(X_test)

m = confusion_matrix(y_test, y_pred)
print('Confution matrix:\n{}'.format(m))

Confution matrix:
[[56533     0]
 [ 4970     0]]

In [ ]:
accuracy = (m[0, 0] + m[1, 1]) / m.sum()
# 適合率の計算
precision = (m[1,1])/m[:, 1].sum()

# 再現率の計算
recall = (m[1,1])/m[1, :].sum()

# F1スコアの計算
f1 = 2 * (precision * recall)/(precision + recall)

print('正解率:{:.3f}'.format(accuracy))
print('適合率:{:.3f}'.format(precision))
print('再現率:{:.3f}'.format(recall))
print('F1値:{:.3f}'.format(f1))

正解率:0.919
適合率:nan
再現率:0.000
F1値:nan

In [ ]:
path='/content/drive/My Drive/finalsub/'
df = pd.read_csv(path + 'application_train.csv')
df_test = pd.read_csv(path + 'application_test.csv')
df1 = pd.read_csv(path + 'installments_payments.csv')
df

NameError: ignored